.post-block {
   margin-top: 60px;
   margin-bottom: 60px;
   padding: 25px;
   -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
   -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
}
.main-inner {
  width: 84%
}
.post-body {
  margin-top: none;
  margin-bottom: none;
  padding: none;
  -webkit-box-shadow: none;
}